sudo: false
language: node_js
cache:
  directories:
  - node_modules
branches:
  only:
  - master
notifications:
  email: false
node_js:
- '4'
before_install:
- npm i -g npm@^2.0.0
before_script:
- npm prune
script:
- npm run coverage
- npm run check-coverage
after_success:
- npm run report-coverage
- npm run semantic-release
env:
  global:
  - SPHERE_PROJECT_KEY=sphere-product-type-import-test
  - secure: sEtzhzWyDaWjJ4j0dBDu+73wt2sH+jtDKynvLwaXo0uD/O3n40zsRHKzguVa89lUfh/u//ZkQUZAYGEK3PpqOgDgDXnM/jS5+qHhz7neD5Iy5fZkdv4IWxjE3qpPmPX6JYtoX1c/FfpMo+wUpDVTXQcTq8RPCvhvHaTEwXlWgKABmPT3atsRaDtsljGn1wNtUtCww4Ax7LquFUf0755cqGmPhqUc1cP8zZG+8mU3SFK5N8+YKZ/ELSaOjcVaAaeJri5HAVxo24sTA0ZWZyu/WYOvBtKcg/ApMw1k3C3TX0z89//zQxJ7fLm1dPPUm+jMCz16/cWCqyvUF3HcHFAHNiHX+hivmnNnnhF/t2/XK+giQPzw7iMrXgpWRNoSFU0RCBCd5YOb4jL7bsI0wZtGN01HKWAyiPnoBqEptuoHcgOFwYwwwjOclDabkpLkRrENWRWAOhhxz5tCDfNG6/nwaFwN0eKrFlAXBPoXhBSvvGQG8SHsqcMHZMPrzrIvE4j8f4qd2o0i+LME3uMiYB8BYdsYjseDbYJMVmqTz5vghbALfx94TbzMCD/ZhqAtTpOfcjRfiER+sAX4InNISpuNofYTcvS6A1vFQZMKolN8BX0bRMMObdjrDYrhocjz/FoT1fcfCouwxMoEJRHxVCSl6JGIl550E1ZgPFrrC2hMADM=
  - secure: HO1Dm2X5uPv5xLGkFlORchULx379LMejWPH8/bmPZkoSiTLY+x0tutxPNW4AbS2BpPC+Nc4PZQJNvVsXTjyXYZNTN86V+rJN0CaAuedWGcYBxyBUkCYuiRFY4PwdAMqIbnpCQjJNuPU14PqozsZHFmIUYfz8pduRZ3IpCO8FRPAIEVRwjxz7vWIz2ncpaD/CXXst39iIo9R79eFjBtEzi+p9obKl7WuSfQ9hlvBtK/pMschx4Vf+RJcNaA2Z8voW0rBDXW742Qz3LjDV4GLtoI/La95BpK5HrR2fq3iawUbMWM/SW688LHmXoYd414meGez1kkYX1zR5epnnLF8MCAS9+Ea0VkMs0NSGZ/6h1sicLZIURYK7VFLnSp9QvH9RhJlmPRLfcplERFrXSVr4LB77OnRZKbqae5yRyd0zCwAqnqcK8pbCVtt+o1MshnBuVmNRUXBJg1X8TTG4/LaZVK5BdqDXUgshc5t2rVX6kyTHghFbn/e3wf+hIryZyxKm6ncqnM9TPMrObM6vGOKA9Wb6BySq8Ak1X8a34OcAjmobNM1R7nHFh+KsoXtvDO1GCV9Rm0ihz1hlOk/+3m3PCMUMeme/l5WvMNLia6rXcHMzsIDE8YK9TMKhQR1cbGFN1GES+LTGsLFrF6KfoQknxnZFu/DD1i+7K4nqsURLzwg=
  - secure: FanT6S2zWWNbTMwrrErcC2LSydfzAqsS6U11K1WDE2aAqSBHLnqQi6dkirpNp+N2jEkb2JvPH6iqap41ww30mOl4RZVNP5sRqW6x/Za6QQnedjJeenuuyHMSU0H4yoz0lCnqlTFR6tb9nVwOOyy7R3IDMYE4HBB5jbVm1KT+TMSPcfbUGYQgSbMZy4LAJtWnMczPhMJEUJA7qtQjBYibLhg67v5Ww1BZLaDIqoVz06GAZ2Sl52LKlcrvWA2hPzhhbPfdUGLKq1V25v0a3BXqF81hNy6HZ0tWlPSWKsRaq/MxQj8+7QTYNwnEOEB9gbroUxoV5iyA1dFuta6VPqpJRbkZNRS3+aKUVjrU7T7rRfM1I2XgYmP+jN8XJpIJDyaJgGWKtqKUcvT8xQUJPzyU1Sd5LKSo83oPIML/HKMjOyoH3hhbUxXWnPtglEIZfSnVkJK7EU4nFo1vL1PxZ34aLzGMT++uU0UAaPAEZbc4kPF8PP+f6DhFZdIcSb8xs/hd+TJP2/Fbr49iDeoBQIlCfOjq2xBxyc266ibT7kAuHhi3WfmWhtuOzPyY/NQWkIIeBdQbVRfwlPUP0Yo4xijSsKA+7rBBjw7UAS2EBapwC2+2eu8w40wDAg1WXXplF+0SvCSOh+bjBVBpqUaSE1nVEOdQdBwbwjIzLrldJU0J958=
  - secure: wYlC9mi41h5geyHiqoTF1Itn9HHfuHf0uD3saCgxz2OORbJ35ri5elQ75bBD6oD4k/K49gIpIs+bjNL3Svrr8ECWu0RfxqfkkhtYkrMZzmyVl2njidoJPmW1eEsQqeHKOcqMUfB8J50YIH5LsN/JsGy/6AORqn/+gmgXBMD+bqfXdzP68zRlnkoS1ayX1YsEzRiXmYAGRW48N3akGqmZVW/t3V4b0p7CJ89Lfa/RfLIju0eXOc2En/mVRGyRZIJ4Z0LrtBg7lED5l9fUwztnCPItdc1+vWm5Dt/LGx60xWfcwbPN9kYncW9ANAuIahTc0Y6ajohgSr+9O7zjssGGxxPigbtFaqIF8Lvg+pP149Nm2UjiCT0yUbtv4U5IvfCP/v8LKGOqHYi95QV3jdqHqKgsCVwU9nDPVCIQjOqT6bZtbwjfN9ugvaahyFowXBh259GpXjHtwNG4bbWtfZB4lWqTrwYX739MazRDe0OQOaolQq4O4fM26gd+gjxX6twvF3ImK7+OlaKWY1QgJOeCJPcZiCRH4tcjemZaoHZdwu//njjiUO0rV3vTFpEfMxXkakPoroW1XXFJQgp9kUoe1/i7lg1Kzdw48c7X7jAcT8gqo6B5ocN3+qLXwhgV5dcsyHf9rfKFd5k/L9oQJw8NEAJ6m76td4OLynsvcXgkWrc=
  