sudo: false
language: node_js
cache:
  directories:
  - node_modules
branches:
  only:
  - master
notifications:
  email: false
node_js:
- '4'
before_install:
- npm i -g npm@^2.0.0
before_script:
- npm prune
script:
- npm run coverage
- npm run check-coverage
after_success:
- npm run report-coverage
- npm run semantic-release
env:
  global:
  - secure: sEtzhzWyDaWjJ4j0dBDu+73wt2sH+jtDKynvLwaXo0uD/O3n40zsRHKzguVa89lUfh/u//ZkQUZAYGEK3PpqOgDgDXnM/jS5+qHhz7neD5Iy5fZkdv4IWxjE3qpPmPX6JYtoX1c/FfpMo+wUpDVTXQcTq8RPCvhvHaTEwXlWgKABmPT3atsRaDtsljGn1wNtUtCww4Ax7LquFUf0755cqGmPhqUc1cP8zZG+8mU3SFK5N8+YKZ/ELSaOjcVaAaeJri5HAVxo24sTA0ZWZyu/WYOvBtKcg/ApMw1k3C3TX0z89//zQxJ7fLm1dPPUm+jMCz16/cWCqyvUF3HcHFAHNiHX+hivmnNnnhF/t2/XK+giQPzw7iMrXgpWRNoSFU0RCBCd5YOb4jL7bsI0wZtGN01HKWAyiPnoBqEptuoHcgOFwYwwwjOclDabkpLkRrENWRWAOhhxz5tCDfNG6/nwaFwN0eKrFlAXBPoXhBSvvGQG8SHsqcMHZMPrzrIvE4j8f4qd2o0i+LME3uMiYB8BYdsYjseDbYJMVmqTz5vghbALfx94TbzMCD/ZhqAtTpOfcjRfiER+sAX4InNISpuNofYTcvS6A1vFQZMKolN8BX0bRMMObdjrDYrhocjz/FoT1fcfCouwxMoEJRHxVCSl6JGIl550E1ZgPFrrC2hMADM=
  - secure: HO1Dm2X5uPv5xLGkFlORchULx379LMejWPH8/bmPZkoSiTLY+x0tutxPNW4AbS2BpPC+Nc4PZQJNvVsXTjyXYZNTN86V+rJN0CaAuedWGcYBxyBUkCYuiRFY4PwdAMqIbnpCQjJNuPU14PqozsZHFmIUYfz8pduRZ3IpCO8FRPAIEVRwjxz7vWIz2ncpaD/CXXst39iIo9R79eFjBtEzi+p9obKl7WuSfQ9hlvBtK/pMschx4Vf+RJcNaA2Z8voW0rBDXW742Qz3LjDV4GLtoI/La95BpK5HrR2fq3iawUbMWM/SW688LHmXoYd414meGez1kkYX1zR5epnnLF8MCAS9+Ea0VkMs0NSGZ/6h1sicLZIURYK7VFLnSp9QvH9RhJlmPRLfcplERFrXSVr4LB77OnRZKbqae5yRyd0zCwAqnqcK8pbCVtt+o1MshnBuVmNRUXBJg1X8TTG4/LaZVK5BdqDXUgshc5t2rVX6kyTHghFbn/e3wf+hIryZyxKm6ncqnM9TPMrObM6vGOKA9Wb6BySq8Ak1X8a34OcAjmobNM1R7nHFh+KsoXtvDO1GCV9Rm0ihz1hlOk/+3m3PCMUMeme/l5WvMNLia6rXcHMzsIDE8YK9TMKhQR1cbGFN1GES+LTGsLFrF6KfoQknxnZFu/DD1i+7K4nqsURLzwg=
