sudo: false
language: node_js
cache:
  directories:
  - node_modules
branches:
  only:
  - master
notifications:
  email: false
node_js:
- '4'
before_install:
- npm i -g npm@^2.0.0
before_script:
- npm prune
script:
- npm run test:ci
- npm run check-coverage
after_success:
- npm run report-coverage
- npm run semantic-release
env:
  global:
  - secure: qDSzrqPOEyl5/b+0wz9fPqXIbtmF7ta3K5jrgiH0WTCio1ZqLdxO998SBn+rPzAtugR7H5QqY3Ms2HYu0GiH29l0ieTJFPQ7/13AFqfkzzS7z2/TVpqpcXWNu12RzUaBR/t0qJukQiCkgc435tzIPmqDcYgI3F99WZDqRz62DR1E3ycT4ADwQmLtOxtMKgicwJDK1vWd4qKPEBjwOK292HqkywtNhYwPrcRfh1jaZ+4JgQqIUY4tqoDKAW64KlDYFAYA226qA7XPEArLtTosvvo58AQJKqUOoFDc3nbBDfIFYxIMKfSb8XPPWQWz29uWsgZXqYdbDYQAG/oSFeGX2Ii4FAq7qTEdmN72iuhD5UhEEcm4CK7u1XXViNFGlq7yP83aB8ZB7omb0SR9bHi0tbNoAOCEH/XQB33KxiOPOXDwBWV/efboby2NL2vRMMcW+rgELpeeYOjD4ugYLnPWNVgXZofX3sR982JcBhiTZ/SMXUIt//1QV2pEbAw3it34iZt53KgWH0YQmfr6lg7ypiQwlBDwRaEACZAoCQFaA7isa/BkqHqhAc42w1LGPI98CJCmhmdLfOlhOyA8TEf+HJ57li/uGtTeBpWGp4vI6KEYbfY1XolsH3Lx1WbjNZhEM30Y6WexmrfIf6d3zVZ0dxdcv/jDFMA03SVtdBy60BQ=
  - secure: N6rA0M6ApZCsh3RvN6U9SKyKecG/aj4+dPZW3nENz/KsJFxxe/xD2QIQIfQxOthxuZUi+FKVFG6NPJK+dvkLPiuSIdOoqSohsk1/7mbclL5lid3e4j4PC33MmJc+O3UmQKpEDbxQqqMDqLEM5H4g4RmjmXS00/U5E2iPraQkCQaa48Cr65Ia1Xxn+ehMGXGUf6EHSLxrkZ4jfl2qmzxLlu39OwXy0afmjgT68VoeZyBzlXJ66gatkYyh3KxYHxTJtUfgOhj2TKp5DcEI4+mie0VYkvoFWo4a0TnMDWuISFeXTNJkt5+g0pR82NnN7OFcs+n6PvdSUo2rKREaK4z30xvX0ISis6kCSh+icD0aswKyFSZ1h69taYNUUQMRzV0O3m79jHOHq/ZGA7F3RR33OqdEyW5BoYzs2zlMfd+X6c1ZBMgriNuN6xKGDrgrNF3ZdpPlrd/j9/XY0ImU/n7F/nDPWx90VTjTHGm20R02XfEpmbc2YMUCIQuxtT9qRKjqz514CXOarGzIqLXdVXDYOEbZLDu5yMkAIPYX0MG2ROGOGX8liZSh/s827kDPTwqyqCMR/hkQN791n388/nRncr/ipJ0meXy/ZeTsDyA3PQapKt1yO/shGSFr7foh04gT7gAb1OvjUOxIWWsj36ry/tdWu715lPmvSpl59jPstw8=
  - secure: O44TyYsww/oItszxB+8GYZBUl6k1s30YAUBFV4bRQMQJLLKBUD7nl+vPLxswetB7hODqQhns5Xb37jDCa17rVcZ93Lk5HhFeF9FqoGTAcQ/efYyCpRF6uuHv37xXXcFzx00I66kO2IiFSOTxU2kGf1B8YHy0mo1GuhwoeX7eQbEVg4VONeZ/5oM8pkWCMVHayCebznRdUzz13HAJdTkF6w5fahCQ6/4WzindQ0RN4FfJ3CKvPigvHso/SbiMgiHukmwndojIOVJEVhhnftrNTizD+Ic9ijvtAdJ2ko1oUztVWaz9wLI27KQJt0TUUQn9MO9erdsyBBGymYZq1z2Mr9Q1/D95GBDaM3iHQUNzPtuCMu9bdVhJG2nMIlLQ7IJj0h17YcciDS4MQc01xs+3Trp/lhYtcQG1Z2uLUEILJKm1QBxe1BB67mMrxnSLubWhJ/IYNedV807l/xnKxo4YH4/eKbjCl/gWPZlCIb7LCpRi+X5LpTP3hMbbJreUyILWPgUSZx+x/wDF2JLC2RdQqaayJrXoRYrt3FTSoOuMou8bu4JnGGVLWG8NjKjFO7COkCN/QfrWI/wWsdpCrEtw7dGzGjjY1I2jnBTlNrAfHK6XUD1GCphRz3lxCoJ59e0qX+Em6mMaKOc9QHkrX5NPAl6BYnGAsgCNpKZaIYowpDg=
